@import "../../../../scss/defaultVariables.scss";

.itemCart {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem;
    border-bottom: 1px solid $gray;

    &:last-child {
        border-bottom: none;
    }

    &-left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            height: 10rem;

            @media (max-width:768px) {
                height: 6rem;
                border: 1px solid $gray;
                padding: 0.3rem;
                border-radius: 12px;
            }

            @media (max-width:368px) {
                height: 5rem;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-bottom {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
                width: fit-content;

                &-svg {
                    display: flex;
                    align-items: center;
                }

                &-text {
                    color: $gray;
                }

                &-textGreen {
                    color: $green;
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }

            &-top {
                padding-bottom: 1rem;
                word-break: break-all;
                width: 100%;
                font-weight: 5F00;
                font-size: 1.1rem;
            }

            @media (max-width:368px) {
                height: 100%;
            }
        }

        @media (max-width:368px) {
            width: 100%;
            align-items: stretch;
            justify-content: start;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        gap: 1.7rem;

        &-counter {
            display: flex;
            align-items: center;
            gap: 0.9rem;

            &-minus {
                cursor: pointer;
                display: flex;
                align-items: center;
                border: 1px solid $orange;
                border-radius: 4px;
                color: $orange;
                padding: 0.8rem 0.5rem;
                transition: all.3s;

                &:hover {
                    background-color: $orange;

                    path {
                        fill: #fff;

                    }
                }
            }

            &-totalCounter {
                width: 4rem;
                text-align: center;
                user-select: none;
            }

            &-plus {
                cursor: pointer;
                display: flex;
                align-items: center;
                border: 1px solid $orange;
                border-radius: 4px;
                color: $orange;
                padding: 0.5rem;
                transition: all.3s;

                &:hover {
                    background-color: $orange;

                    path {
                        fill: #fff;

                    }
                }
            }

            @media (max-width:768px) {
                gap: 0;
                align-items: stretch;

                .item-big-about-chapter-amount-minus,
                .item-big-about-chapter-amount-total,
                .item-big-about-chapter-amount-plus {
                    color: white;
                    background-color: $orange;
                }

                .item-big-about-chapter-amount-total {
                    width: 4rem;
                }

                .item-big-about-chapter-amount-minus {
                    display: flex;
                    justify-content: center;
                }

                .item-big-about-chapter-amount-minus,
                .item-big-about-chapter-amount-plus {
                    padding: 0.3rem 1rem;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        &-totalPrice {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;

            &-withDiscount {
                position: relative;

                &-lastPrice {
                    color: $gray;
                    font-size: 0.9rem;
                    text-decoration: line-through;
                    text-align-last: right;
                }

                &-currentPrice {
                    font-weight: 500;
                    font-size: 1.1rem;
                }
            }

            &-noDiscount {
                font-weight: 500;
                font-size: 1.1rem;
            }
        }

        &-delete {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border: 1px solid $red;
            border-radius: 4px;
            transition: all.3s;
            cursor: pointer;

            &:hover {
                background-color: $red;

                path {
                    fill: #fff;
                }
            }

            @media (max-width:368px) {
                background-color: $orange;
                border: none;

                path {
                    fill: white;
                }
            }

        }

        // @media (max-width:768px) {
            // margin-left: -6rem;
        // }
    }

    @media (max-width:768px) {
        padding: 0;
        border: none;
        border-bottom: 1px solid $gray;
        padding-bottom: 0.6rem;
        flex-direction: column;
        align-items: center;
    }
}