@import "../../../../scss/defaultVariables.scss";

.itemCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    margin: 0.9rem;
    padding: 0.6rem;

    &:last-child {
        border-bottom: none;
    }

    &-left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            height: 6rem;

            @media (max-width:768px) {
                height: 6rem;
                border: 1px solid $gray;
                padding: 0.3rem;
                border-radius: 12px;
            }

            @media (max-width:368px) {
                height: 5rem;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 0.4rem;
            height: 100%;

            &-bottom {
                display: flex;
                gap: 0.5rem;
                cursor: pointer;
                width: fit-content;

                &-svg {
                    height: 1rem;
                    width: 1rem;
                    display: flex;
                    align-items: center;
                }

                &-text {
                    color: $gray;
                }

                &-textGreen {
                    color: $green;
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }

            &-top {
                max-width: 100%;
                word-break: break-all;
            }

            @media (max-width:368px) {
                height: 100%;
            }
        }

        // @media (max-width:368px) {
        // }
    }

    &-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        &-counter {
            display: flex;
            height: fit-content;
            gap: 0.3rem;

            &-minus,
            &-plus {
                cursor: pointer;
                display: flex;
                align-items: center;
                border: 1px solid $orange;
                border-radius: 4px;
                color: $orange;
                padding: 0.1rem 0.15rem;
                transition: all.3s;

                &:hover {
                    background-color: $orange;

                    path {
                        fill: #fff;

                    }
                }
            }

            &-totalCounter {
                min-width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;
            }

            @media (max-width:768px) {
                align-items: stretch;
                justify-content: center;
                gap: 0;

                .item-big-about-chapter-amount-minus,
                .item-big-about-chapter-amount-total,
                .item-big-about-chapter-amount-plus {
                    color: white;
                    background-color: $orange;
                }

                .item-big-about-chapter-amount-total {
                    width: 4rem;
                }

                .item-big-about-chapter-amount-minus {
                    display: flex;
                    justify-content: center;
                }

                .item-big-about-chapter-amount-minus,
                .item-big-about-chapter-amount-plus {
                    padding: 0.3rem 1rem;
                    display: flex;
                    justify-content: center;
                }
            }

            @media (max-width:768px) {
                align-items: stretch;
            }
        }

        &-totalPrice {
            display: flex;
            align-items: center;
            justify-content: center;

            &-withDiscount {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                width: 7rem;


                &-lastPrice {
                    color: $gray;
                    font-size: 0.9rem;
                    text-decoration: line-through;
                    text-align-last: right;
                }

                &-currentPrice {
                    font-weight: 500;
                    font-size: 1.1rem;
                }
            }

            &-noDiscount {
                font-weight: 500;
                text-align: center;
                width: 7rem;
                font-size: 1.1rem;
            }
        }

        &-delete {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border: 1px solid $red;
            border-radius: 4px;
            transition: all.3s;
            cursor: pointer;

            &:hover {
                background-color: $red;

                path {
                    fill: #fff;
                }
            }

            @media (max-width:368px) {
                background-color: $orange;
                border: none;
                padding: 0.3rem 0.5rem;

                path {
                    fill: white;
                }
            }

        }

        @media (max-width:368px) {
            flex-direction: column;
            gap: 0.4rem;
            align-items: start;
        }
    }

    @media (max-width:368px) {
        padding: 0;
        border: none;
        border-bottom: 1px solid $gray;
        padding-bottom: 0.6rem;
        align-items: flex-start;
        justify-content: start;
        gap: 1rem;

        &-right-top {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
        }

        &-right-bottom {
            margin-top: 0.1rem;
            display: flex;
            align-items: center;
            gap: 0.8rem;
        }
    }
}