.slider {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;

    &__left {
        display: flex;
        position: relative;
        width: 100%;

        img {
            height: 30rem;
            width: 99%;
        }

        &-arrows {
            position: absolute;
            top: 50%;
            width: 99%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;

            button {
                cursor: pointer;
            }

            @media (max-width:768px) {
                display: none;
            }

        }

        .swiper-pagination {
            margin: 0 1rem;
            width: 95% !important;

            .swiper-pagination-bullet {
                cursor: pointer;
                width: 0.8rem !important;
                height: 0.8rem !important;
                border-radius: 50% !important;
                background-color: white !important;
            }
        }

        &-sliderPage {
            position: absolute;
            bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95%;
            gap: 2%;

            &-element,
            &-elementNotActive {
                cursor: pointer;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background-color: white;
            }

            &-elementNotActive {
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }

    &__right {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        gap: 1.8rem;

        img {
            cursor: pointer;
            height: 14rem;
            width: 32rem;

            @media (max-width:768px) {
                width: 100%;
            }
        }
    }

    @media (max-width:768px) {
        flex-direction: column;
    }
}