@import "../../scss/defaultVariables.scss";

.catalog {
    &__category {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20rem;
        font-size: 3rem;
        font-weight: 700;
        color: white;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #0D0D0D;
        background: url(../../images/allGoods.png) no-repeat;
        background-size: cover;
        margin-bottom: 2rem;
    }

    &__bottom {
        display: flex;
        gap: 5rem;

        &-filters {
            display: flex;
            flex-direction: column;
            border: 1px solid $strokeGray;
            border-radius: 14px;
            padding: 1rem;
            width: 20rem;

            .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
                border-radius: 0px;
                box-shadow: none;
                margin: 0 !important;

                &:first-child {
                    padding-bottom: 0.5rem;
                }

                .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
                    padding: 0;
                }

                .css-15v22id-MuiAccordionDetails-root {
                    padding: 0;
                }

                &::before {
                    content: none;
                }
            }

            .catalog__bottom-filters-parentAccardion {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .counter {
                    border: 1px solid $strokeGray;
                    border-radius: 14px;
                    padding: 0.5rem 1.6rem;
                    min-width: 3rem;
                }

                .dash {
                    color: $strokeGray;
                    font-size: 40px;
                }
            }

            &-buttons {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                &-reset {
                    transition: all.3s;
                    cursor: pointer;
                    padding: 8px;
                    border: 1px solid #DFDFDF;
                    border-radius: 14px;
                    width: 100%;
                    color: #9C9C9C;
                }

                .button-submit {
                    padding: 8px;
                }
            }
        }

        &-items {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;

            &-totalItems {
                color: $darkGrey;
            }

            &-right {
                display: flex;
                align-items: center;

                &-displayType {
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;

                    button {
                        cursor: pointer;
                        transition: all.3s;
                        padding: 4px;
                    }

                    .active {
                        display: flex;
                        align-items: center;
                        border-radius: 4px;
                        background-color: $green;

                        svg {
                            rect {
                                fill: white;
                            }
                        }
                    }
                }

                &-filterType {
                    display: flex;
                    gap: 0.5rem;

                    &-text {
                        font-weight: 600;
                    }

                    &-typeFilter {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}