$gray:#CFCFCF;
$black:#0D0D0D;
$orange:#FF6600;
$red:#F83C3C;
$darkGrey:#9C9C9C;
$green: #03c03c;


.cart {
    &__title {
        display: flex;
        align-items: center;
        gap: 13px;

        &-svg {
            display: flex;
            align-items: center;
        }

        &-title {
            font-size: 32px;
            font-weight: 700;
            color: #000;
            margin-bottom: 24px;
        }
    }

    &__path {
        display: flex;
        margin-bottom: 20px;

        ul {
            display: flex;
            gap: 4px;
        }

        &-text-gray {
            font-weight: 600;
            color: $gray;
            cursor: pointer;
            transition: all.3s;

            &:hover {
                color: $black;
            }
        }

        &-gray {
            color: $gray;
        }

        &-text-black {
            font-weight: 600;

            color: $black;
        }
    }

    &__inner {

        &-empty {
            display: flex;
            border-radius: 14px;
            border: 1px solid $gray;
            padding: 24px;
            gap: 18px;
        }

        &-notEmpty {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            &-left {
                width: 100%;

                &-items {
                    border: 1px solid $gray;
                    border-radius: 14px;
                    scrollbar-width: thin;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    max-height: 632px;

                    &::-webkit-scrollbar {
                        width: 7px;

                    }

                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                        margin-bottom: 10px;
                        margin-top: 10px;


                    }

                    &::-webkit-scrollbar-thumb {
                        background: #DFDFDF;
                        border-radius: 12px;
                    }

                    &::-webkit-scrollbar-track-piece {}

                }

                &-ordering {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;


                    &-orderNumber,
                    &-adress,
                    &-paymentType,
                    &-orderNumber-bankCard {
                        border: 1px solid $gray;
                        border-radius: 14px;
                        padding: 18px 16px;
                        display: flex;
                        justify-content: space-between;

                        &-left {
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            font-size: 20px;
                        }

                        &-right {
                            display: flex;
                            align-items: center;
                            gap: 24px;

                            &-svg {
                                cursor: pointer;
                                padding: 6px 8px;
                                border: 1px solid $orange;
                                border-radius: 4px;
                            }
                        }
                    }

                    &-orderNumber-bankCard {
                        display: block !important;
                    }

                    &-adress {
                        position: relative;
                        flex-direction: column;
                        gap: 8px;

                        &-select {
                            &__control {
                                max-width: 360px;
                                width: 100%;
                                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08) !important;
                                border-radius: 14px !important;
                                border: none !important;
                                margin-bottom: 8px;
                            }

                            &__menu {
                                margin-top: 0;
                                max-width: 360px;
                            }

                            &__value-container {

                                padding: 16px 24px !important;

                            }

                            &__indicator-separator {
                                display: none !important;
                            }

                            &__placeholder {
                                font-weight: 500 !important;
                                color: $gray !important;
                            }

                        }




                        &-text {
                            font-weight: 500;
                            margin-bottom: 8px;

                        }

                        &-more {
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            width: 100%;

                            &-element {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: 4px;
                            }

                            &-input {

                                &-adress,
                                &-flat,
                                &-floor {
                                    padding: 16px 24px;
                                    outline: none;
                                    border: 1px solid $gray;
                                    border-radius: 14px;
                                    transition: all.3s;

                                    &:focus {
                                        border: 2px solid $black;
                                    }
                                }

                                &-adress {
                                    max-width: 320px;
                                }

                                &-flat {
                                    max-width: 160px;
                                }

                                &-floor {
                                    max-width: 120px;
                                }
                            }
                        }

                    }

                    &-paymentType {
                        flex-direction: column;
                        gap: 8px;

                        &-bonuses-paymentBonuses,
                        &-bonuses-paymentBonuses-true,
                        &-bonuses-paymentBonuses-false {
                            text-align: center;
                            padding: 16px 8px;
                            color: $black;
                            border: 1px solid $gray;
                            border-radius: 14px;
                            max-width: 80px;
                            transition: all.3s;
                            font-weight: 500;

                            &:focus {
                                border: 2px solid $black;
                            }
                        }

                        &-bonuses-paymentBonuses-true {
                            color: $green;
                        }

                        &-bonuses-paymentBonuses-false {
                            color: $red;
                        }

                        &-bonuses {
                            display: flex;
                            gap: 16px;
                            align-items: center;

                            &-right {
                                gap: 4px;

                                &-text {
                                    font-weight: 500;
                                    color: $gray;

                                    &-error {
                                        font-weight: 500;
                                        font-size: 14px;
                                        color: $red;
                                    }
                                }
                            }

                        }
                    }

                }


            }

            &-makeOrder {
                display: flex;
                flex-direction: column;
                gap: 16px;
                max-width: 600px;
                width: 100%;

                &-promoCode {
                    padding: 16px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    border: 1px solid #DFDFDF;
                    border-radius: 14px;

                    &-title {
                        font-weight: 500;
                        font-size: 19px;
                    }

                    &-enter {
                        display: flex;
                        justify-content: space-between;
                        gap: 8px;

                        &-input {
                            outline: none;
                            width: 100%;
                            padding: 16px 24px;
                            border: 1px solid $darkGrey;
                            border-radius: 14px;
                        }

                        &-button {
                            cursor: pointer;
                            border: 1px solid $darkGrey;
                            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
                            border-radius: 14px;
                            padding: 16px 25px;
                            color: $darkGrey;
                        }
                    }

                    &-prompt {
                        cursor: pointer;
                        width: fit-content;
                        color: $darkGrey;
                        padding-bottom: 1px;
                        border-bottom: 1px solid $darkGrey
                    }
                }

                &-count {
                    border: 1px solid $gray;
                    border-radius: 14px;
                    padding: 18px 16px 16px 16px;

                    &-toCharge {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 18px;
                        margin-bottom: 16px;
                        border-bottom: 1px solid $gray;

                        &-totalBonus {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }
                    }

                    &-totalPrice {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        padding-bottom: 16px;
                        margin-bottom: 16px;
                        border-bottom: 1px solid $gray;

                        &-noDiscount {
                            display: flex;
                            justify-content: space-between;

                            &-text {
                                font-size: 19px;
                                font-weight: 500;

                                span {
                                    font-size: 19px;
                                    font-weight: 600;
                                    color: $red;
                                }
                            }
                        }

                        &-withDiscount {
                            display: flex;
                            justify-content: space-between;

                            &-text {
                                font-weight: 500;
                                font-size: 19px;

                                span {
                                    font-size: 19px;
                                    font-weight: 600;
                                    color: $green;

                                }
                            }
                        }

                        &-prompt {
                            font-weight: 400;
                        }
                    }
                }

                &-grandTotal {
                    padding: 16px;
                    border: 1px solid $orange;
                    border-radius: 14px;
                    margin-bottom: 24px;

                    &-price {
                        display: flex;
                        justify-content: space-between;

                        &-text {
                            font-weight: 700;
                            font-size: 25px;
                            margin-bottom: 8px;
                        }
                    }

                    &-deliviryType {
                        font-weight: 500;
                        font-size: 14px;
                        margin-bottom: 4px;
                    }

                    &-deliviryTypePrompt {
                        font-weight: 500;
                        font-size: 14px;
                        color: $gray;
                    }
                }

                &-submitOrder,
                &-submitOrder-false {
                    cursor: pointer;
                    text-align: center;
                    padding: 16px;
                    border: 1px solid $orange;
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
                    border-radius: 14px;
                    color: $orange;
                    width: 100%;
                    transition: all.3s;


                }

                &-submitOrder {
                    &:hover {
                        background-color: $orange;
                        color: #fff;
                    }
                }

                &-submitOrder-false {
                    cursor:grab;
                    background-color: $gray;
                    color: $darkGrey;
                    border: none;
                }
            }


        }

    }
}

.itemCart {
    margin: 18px 18px 0 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray;



    &:last-child {
        border-bottom: none;
    }

    &-left {
        display: flex;
        gap: 16px;

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-bottom {
                display: flex;
                align-items: center;
                gap: 12px;
                cursor: pointer;
                width: fit-content;

                &-svg {
                    display: flex;
                    align-items: center;
                }

                &-text {
                    color: $gray;

                }

                &-textGreen {
                    color: $green;
                    font-weight: 500;
                    font-size: 15px;
                }
            }

            &-top {
                max-width: 400px;
                padding-bottom: 18px;
                max-width: 400px;
                width: 100%;
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
        gap: 30px;

        &-counter {
            display: flex;
            align-items: center;
            gap: 16px;

            &-minus {
                cursor: pointer;
                display: flex;
                align-items: center;
                border: 1px solid $orange;
                border-radius: 4px;
                color: $orange;
                padding: 12px 7px;
                transition: all.3s;

                &:hover {
                    background-color: $orange;

                    path {
                        fill: #fff;

                    }
                }
            }

            &-totalCounter {
                user-select: none;
            }

            &-plus {
                cursor: pointer;
                display: flex;
                align-items: center;
                border: 1px solid $orange;
                border-radius: 4px;
                color: $orange;
                padding: 7px;
                transition: all.3s;

                &:hover {
                    background-color: $orange;

                    path {
                        fill: #fff;

                    }
                }
            }
        }

        &-totalPrice {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 50px;

            &-withDiscount {
                position: relative;

                &-lastPrice {
                    color: $gray;
                    font-size: 12px;
                    text-align-last: right;
                }

                &-currentPrice {
                    font-weight: 500;
                    font-size: 18px;
                }
            }

            &-noDiscount {
                font-weight: 500;
                font-size: 18px;
            }
        }

        &-delete {
            display: flex;
            align-items: center;
            padding: 7px;
            border: 1px solid $red;
            border-radius: 4px;
            transition: all.3s;
            cursor: pointer;

            &:hover {
                background-color: $red;

                path {
                    fill: #fff;
                }
            }
        }
    }
}