$green:#00953F;
$red:#ED1B23;
$orange:#FF6600;
$white:#fff;
$gray:#9C9C9C;

.item-tag-new,
.item-tag-stock,
.item-tag-hit {
    color: $white;
    font-size: 18px;
    background: $green;
    border-radius: 0px 8px 8px 0px;
    padding: 6px 10px 6px 14px;
    width: fit-content;
}

.item-tag-stock {
    background: $red;
}

.item-tag-hit {
    background: $orange;
}

.item-wrapper {

    .item {
        position: relative;
        padding: 16px 22px 20px 22px;
        border: 1px solid #DFDFDF;
        border-radius: 14px;

        &-tags {
            display: flex;
            flex-direction: column;
            gap: 6px;
            position: absolute;
            left: 0;
            z-index: 0;
        }

        &-information {
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-bottom: 1px solid #F4F4F4;
            margin-bottom: 12px;
            min-height: 22em;

            &-title {
                font-size: 20px;
                max-width: 300px;
            }

            &-title {
                font-size: 17px;
                max-width: 280px;
            }

            &-description {
                color: $gray;
                font-size: 15px !important;
                padding-bottom: 6px;
            }
        }

        &-about {

            &-chapter,
            &-chapter-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 19px;

                &-weight {
                    min-width: 40px;
                    font-size: 17px;
                }

                &-price {
                    font-size: 17px;
                    color: $orange;
                }

                &-block {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &-crossOut {
                        position: absolute;
                        width: 25px;
                        height: 7px;
                        border-bottom: 1px solid #9C9C9C;
                        transform: rotate(25deg);
                    }

                    &-lastPrice {
                        color: $gray;
                        font-size: 13px;
                    }
                }
            }

            &-chapter-bottom {
                height: 35px;
            }
        }

        &-more {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            cursor: pointer;

            &-text {
                font-weight: 600;
                color: $orange;
            }
        }
    }

    .item-big {
        position: absolute;
        z-index: 1;
        background-color: #FFFFFF;
        padding: 24px;
        border: 1px solid $orange;
        border-radius: 25px;

        .item-tags {
            left: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 6px;
            z-index: 3;
        }

        img {
            width: 450px;
            height: 300px;
            margin-bottom: 16px;
        }

        &-information {
            display: flex;
            flex-direction: column;
            flex: 1 1;
            gap: 5px;
            padding-bottom: 12px;
            border-bottom: 1px solid #F4F4F4;
            margin-bottom: 16px;

            &-title {
                width: 400px;
                font-size: 21px;
            }

            &-description {
                color: $gray;
                font-size: 15px;
            }
        }

        &-about {
            &-chapter {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;

                &-weight {
                    white-space: nowrap;
                    width: 40px;
                    font-size: 17px;
                }

                &-amount {
                    display: flex;

                    &-minus,
                    &-plus {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        padding: 5px 9px;
                        background: #F2F2F2;
                        border: 1px solid rgba(255, 255, 255, 0.8);
                        border-radius: 6px 0px 0px 6px;
                    }

                    &-total {
                        width: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 4px 7px 3px 7px;
                        background: #F2F2F2;
                        border: 1px solid #FFFFFF;
                    }

                    &-plus {
                        border-radius: 0 6px 6px 0px;
                        padding: 7px 8px !important;
                    }
                }

                &-shareType {
                    min-width: 12px;
                    cursor: pointer;
                    font-weight: 900;
                    color: $red;
                }

                &-prompt {
                    position: absolute;
                    left: 21%;
                    bottom: 38px;
                    z-index: 2;
                    background: #FFF9F5;
                    border: 1px solid $orange;
                    color: #000;
                    border-radius: 16px;
                    padding: 8px 16px;
                    max-width: 280px;
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    transition: all.3s;

                }

                &-bonus {
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    width: 37px;
                    gap: 2px;
                }

                &-price {
                    position: relative;
                    width: 60px;
                    text-align: right;
                    font-size: 17px;
                    color: $orange;
                }

                &-block {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 2.5em;

                    &-lastPrice {
                        color: $gray;
                        font-size: 13px;
                    }
                }
            }


        }

        &-total {
            float: right;
        }

        &-total {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &Price {
                color: $orange;
                text-align: right;
                font-size: 17px;
                font-weight: 600;
            }

            &Bonus {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                justify-content: right;
                font-size: 17px;
                gap: 4px;
            }
        }

        &-addToCart,
        &-addToCart-false {
            cursor: pointer;
            font-weight: 500;
            max-width: inherit;
            width: 100%;
            color: $orange;
            font-size: 20px;
            padding: 13px 21px;
            border: 2px solid $orange;
            border-radius: 16px;
            text-align: center;
            margin-bottom: 12px;
            transition: all.3s;

            &:hover {
                color: #fff;
                background-color: $orange;
            }
        }

        &-addToCart-false {
            cursor: not-allowed;
            color: white;
            background-color: $red;
            border: 2px solid $red;

            &:active {
                transform: scale(1);
            }

            &:hover {
                background-color: $red;
            }
        }

        &-grade {
            &-reviews {
                cursor: pointer;
                padding-bottom: 1px;
                border-bottom: 1px solid #000;
            }

            display: flex;
            justify-content: space-between;
        }
    }
}

.item-about-chapter-block-crossOut {
    position: absolute;
    top: 0;
    right: 0px;
    width: 25px;
    height: 7px;
    border-bottom: 1px solid #9C9C9C;
    transform: rotate(25deg);
}