.profile__left {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-ul {
        padding: 1.5rem;
        padding-bottom: 0;
        padding-top: 0;
        border: 1px solid #DFDFDF;
        border-radius: 14px;
        width: fit-content;
        white-space: nowrap;
        height: fit-content;

        .MuiFormControlLabel-labelPlacementEnd {
            display: flex;
            gap: 0.3rem;
            margin-right: 0 !important;

            .MuiCheckbox-colorPrimary {
                margin-left: 0.2rem;
                padding: 0.1rem;
            }

            .MuiFormControlLabel-label {
                white-space: normal;
            }

            &:last-child {
                margin-bottom: 0.7rem;
            }
        }

        &-li,
        &-liActive {
            cursor: pointer;
            display: flex;
            gap: 15px;
            padding-top: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid #DFDFDF;
            transition: all.3s;
            color: #000;

            &-text {
                font-size: 17px;
            }


            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                color: #00953F;

                path {
                    fill: #00953F;
                }

            }

            &-title {
                margin-bottom: 12px;

                &:first-child {
                    margin-top: 16px;
                }
            }
        }

        &-liActive {
            color: #00953F;

            path {
                fill: #00953F;
            }
        }

        &-checkboxes {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 140px;

            &-li {
                input {
                    background: #139DEB;
                    border-radius: 4px;
                }

                &:last-child {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #DFDFDF;
                    margin-bottom: 10px;
                }
            }

            &:last-child {
                .profile__left-ul-checkboxes-li {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }
}