@import "../../../scss/components/defaultVariables.scss";

footer {
    padding: 1.3em 12.5em 0px 12.5em;
    background: $green;

    .footer__top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        height: 100%;
        position: relative;

        &-component {
            display: flex;
            flex-direction: column;
            gap: 1em;
            height: 100%;

            a {
                max-width: 200px;
                display: flex;
                align-items: center;
                gap: 1.7em;
            }

            &--img {
                max-width: 242px;

                .img-big {
                    width: 11em;
                    height: 3.6em;
                }

                .img-small {
                    height: 2.3em;
                    width: 7em;
                }

                ul {
                    .footer__top-component--img-bottom {
                        display: flex;
                        justify-content: space-between;
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 13px;

                    .footer__top-component--img-text {
                        max-width: 190px;
                        font-weight: 100;
                    }

                }
            }
        }

        .on__top {
            position: absolute;
            cursor: pointer;
            bottom: 100px;
            right: 0;
            padding: 10px 10px 7px 10px;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
        }
    }

    .footer__bottom {
        margin-top: 20px;
        padding-bottom: 24px;

        &-information {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}