@import "../../../scss/defaultVariables.scss";

footer {
    padding: 1.3em 12.5em 0px 12.5em;
    background: $green;

    .footer__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        height: 100%;
        position: relative;

        &-component {
            display: flex;
            flex-direction: column;
            gap: 1em;
            height: 100%;

            a {
                max-width: 200px;
                display: flex;
                align-items: center;
                gap: 1.7em;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }

            &--img {
                max-width: 242px;

                .img-big {
                    width: 13em;
                    height: 3.6em;
                }

                .img-small {
                    height: 2.3em;
                    width: 7em;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 13px;

                    .footer__top-component--img-bottom {
                        display: flex;
                        gap: 1rem;
                    }


                    .footer__top-component--img-text {
                        word-break: normal;
                        font-weight: 100;
                    }

                }
            }

            &-flex {
                display: flex;
                align-items: center;
                gap: 0.7rem;
            }
        }

        .on__top {
            position: absolute;
            cursor: pointer;
            bottom: 7rem;
            right: -3rem;
            padding: 10px 10px 7px 10px;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
        }

        @media (max-width:1000px) {
            padding: 1.2rem 2rem 1rem 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 25px;
        }

        @media (max-width:750px) {
            display: block;

            &-component--img {
                margin-bottom: 0.7rem;
            }

            &-component:nth-child(2) {
                display: none;
            }

            &-component:nth-child(3) {
                display: none;
            }
        }
    }

    .footer__bottom {
        margin-top: 20px;
        padding-bottom: 24px;

        &-information {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    @media (max-width:1280px) {
        padding: 1.2rem 2rem 0px 2rem;
    }

    @media (max-width:768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        z-index: 3;
        box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
        position: sticky;
        bottom: 0;
        margin: 0 -1rem;
        // width: 89%;

        .footer__component,
        .footer__component-active {
            transition: all.3s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
            position: relative;

            svg {
                width: 2rem;
                height: 2rem;

                path {
                    fill: $darkGrey;
                }
            }

            span {
                color: $darkGrey;
            }


            .MuiBadge-standard {
                position: absolute;
                left: -0.9rem;
                background-color: $orange;
                color: white;
                width: auto;
                height: auto;
                font-size: 1rem;
                font-weight: 400;
                padding: 0.3rem 0.6rem;
            }
        }

        .footer__component-active {
            span {
                color: $orange;
            }

            svg {
                path {
                    fill: $orange;
                }
            }
        }
    }
}