@import "../../../../scss/defaultVariables.scss";
.profile__left {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &-ul {
        padding: 0 1.5rem;
        border: 1px solid $strokeGray;
        border-radius: 14px;
        width: fit-content;
        white-space: nowrap;
        height: fit-content;

        .MuiFormControlLabel-labelPlacementEnd {
            display: flex;
            gap: 0.3rem;
            margin-right: 0 !important;

            .MuiCheckbox-colorPrimary {
                margin-left: 0.2rem;
                padding: 0.1rem;
            }

            .MuiFormControlLabel-label {
                white-space: normal;
            }

            &:last-child {
                margin-bottom: 0.7rem;
            }
        }

        &-li,
        &-liActive {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.7rem;
            padding: 1rem 0;
            border-bottom: 1px solid $strokeGray;
            transition: all.3s;
            color: #000;

            &-text {
                font-size: 1.1rem;
            }


            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                color: $green;

                path {
                    fill: $green;
                }

            }

            &-title {
                margin-bottom: 0.7rem;

                &:first-child {
                    margin-top: 0.9rem;
                }
            }

            &-svg {
                width: fit-content;
                height: 1rem;

                svg {
                    height: 100%;
                    width: fit-content;

                    path {
                        fill: black;
                    }
                }
            }
        }

        &-liActive {
            color: $green;

            div {
                path {
                    fill: $green;
                }
            }
        }

        &-checkboxes {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 9rem;

            &-li {
                input {
                    background: #139DEB;
                    border-radius: 4px;
                }

                &:last-child {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $strokeGray;
                    margin-bottom: 10px;
                }
            }

            &:last-child {
                .profile__left-ul-checkboxes-li {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }
}