@import "../../../scss/components/defaultVariables.scss";

.header {
    margin-bottom: 2em;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;

        &-left {
            display: flex;
            align-items: center;
            gap: 1.5em;

            &-stock,
            &-sets {
                padding: 8px 25px;
                border: 1px solid $red;
                border-radius: 14px;
                color: $red;
                font-weight: 600;
                cursor: pointer;

            }

            &-sets {
                border: 1px solid $green !important;
                color: $green !important;
            }

            &-item {
                cursor: pointer;
            }
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 0.7em;
            cursor: pointer;

        }
    }

    &__center {
        display: flex;
        gap: 1.7em;
        align-items: center;
        margin-bottom: 1em;

        &-left {
            display: flex;
            flex: 1 1;
            align-items: center;
            gap: 1.5em;

            img {
                width: 11em;
                height: 3em;
                cursor: pointer;
            }

            .header__center-input {
                position: relative;
                width: 100%;
                background: #F8F8F8;
                border: 1px solid $orange;
                border-radius: 14px;
                padding: 12px 16px 12px 18px;

                input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                }

                button {
                    position: absolute;
                    right: 18px;
                    z-index: 2;
                }
            }
        }


        &-right {
            display: flex;
            align-items: center;
            gap: 1.2em;

            .header__center-element {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 12px 16px;
                font-weight: 600;
                background: $orange;
                border-radius: 14px;
                cursor: pointer;
                border: 1px solid white;
                transition: all .3s ease;

                &:hover {
                    background-color: white;
                }
            }

            .header__center-element:nth-child(1) {

                span {
                    font-weight: 500 !important;
                }

                &:hover {
                    border: 1px solid $orange;

                    span {
                        color: $orange;
                    }

                    path {
                        fill: $orange;
                    }
                }
            }

            .header__center-element:nth-child(2) {
                background-color: white;
                border: 1px solid $orange;

                span {
                    font-weight: 600 !important;
                    color: $orange !important;
                }

            }

            .header__center-element:nth-child(3) {
                padding: 14px !important;

                &:hover {
                    border: 1px solid $orange;

                    path {
                        fill: $orange;
                    }
                }
            }
        }
    }

    &__bottom {
        display: flex;
        flex: 1 1;
        justify-content: space-between;

        &-component {
            display: flex;
            align-items: center;
            gap: 11px;
            position: relative;
            cursor: pointer;
            padding: 0.8em 1em 0.8em 1em;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
            border-radius: 14px;
            transition: all .7s;

            &:hover {
                path {
                    fill: white;
                }

                background-color: $orange;
                color: white;
            }


            ul {
                position: absolute;
                top: 2.7em;
                left: 0;
                border: 1px solid #DFDFDF;
                box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);
                border-radius: 0px 0px 14px 14px;
                z-index: 5;
                background: white;
                cursor: pointer;
                width: 160%;
                animation: dropDown .2s ease-in-out;

                li {
                    color: black;
                    transition: all.3s;
                    padding: 16px 24px;

                    &:hover {

                        background: linear-gradient(225deg, $green 4.69%, #006834 100%);

                        color: #fff;
                    }
                }
            }
        }

        @media (max-width:1280px) {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 17em);
        }

        @media (max-width:1024px) {
            grid-template-columns: repeat(3, 18em);
        }
    }
}

@keyframes dropDown {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.active {
    border-radius: 14px 14px 0px 0px;

    svg {
        path {
            fill: white;
        }
    }

    background-color: $orange;
    color: white;
}