@import "./defaultVariables.scss";

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 0;

    &:active {
        transform: scale(0.9);
    }
}

.orangeColor {
    color: $orange;
}


.button-submit,
.button-submit-false {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    border: 1px solid $orange;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
    color: $orange;
    transition: all.3s;
}

.button-submit {
    &:hover {
        background-color: $orange;
        color: #fff;

        path {
            fill: #fff;
        }
    }
}

.button-submit-false {
    cursor: not-allowed;
    background-color: $gray;
    color: $darkGrey;
    border: none;
}

input {
    background-color: #fff;
    outline: none;
}

.item-tag-new,
.item-tag-stock,
.item-tag-hit {
    color: white;
    font-size: 1.3rem;
    background: $green;
    border-radius: 0px 8px 8px 0px;
    padding: 6px 10px 6px 14px;
    width: fit-content;
}

.item-tag-stock {
    background: $red;
}

.item-tag-hit {
    background: $orange;
}

.item-tags {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    left: 0;
    top: 1rem;
    z-index: 0;
}

.input {
    transition: all .3s;
    border: 1px solid #DFDFDF;
    border-radius: 14px;
    padding: 16px 24px;
    font-weight: 500;

    &::placeholder {
        color: $gray;
        font-weight: 500;
        letter-spacing: 0 !important;
    }

    &-error,
    &-text {
        @extend .input;
        background: #FEF3F4;
        border: 1px solid #ED1B23;
    }

    &-text {
        border: 1px solid #0D0D0D;
        background-color: #FEF3F4;
    }

    &-password,
    &-passwordError {
        @extend .input;
        font-family: Verdana;
        letter-spacing: 0.125em;
    }

    &-passwordError {
        border: 1px solid #ED1B23;
        background: #FEF3F4;
    }

    &:disabled {
        background-color: rgba(239, 239, 239, 0.3);
        border: 1px solid #DFDFDF;
    }
}

.bold {
    font-weight: 500;
}

.error,
.errorAuth,
.errorRelative {
    font-weight: 700;
    font-size: 14px;
    color: $red;
    position: absolute;
    white-space: nowrap;
    bottom: -18px;
}

.errorRelative {
    position: relative;
    bottom: 0;
}

.select,
.select-rotate {
    position: relative;
    cursor: pointer;
    max-width: 360px;
    width: 100%;
    transition: all.3s;

    &__inner {
        border: none;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
        color: #9C9C9C;
        font-weight: 400;
        appearance: none;
        outline: none;
        width: 100%;
        padding: 16px 24px;
        border-radius: 14px;

        &::backdrop {
            background-color: rgb(158, 7, 7);
        }

        option {
            color: #000;
        }
    }

    &::before {
        position: absolute;
        content: '';
        top: 40%;
        right: 6%;
        width: 7px;
        height: 7px;
        border-top: 2px solid #CFCFCF;
        border-right: 2px solid #CFCFCF;
        transform: rotate(135deg)
    }

}

.reactSelect {
    &__control {
        cursor: pointer !important;
        border-radius: 14px !important;
        border: none !important;
        width: 98% !important;
        box-shadow: none !important;
        border: 1px solid #DFDFDF !important;

        &--is-disabled {
            background-color: (rgba(239, 239, 239, 0.3)) !important;
            border: 1px solid #DFDFDF !important;
        }

        &--menu-is-open {
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            box-shadow: none !important;
            color: black !important;
        }
    }

    &__placeholder {
        padding: 2.5px !important;
    }

    &__single-value {
        color: black !important;
    }

    &__indicator {
        svg {
            width: 15px !important;
            height: 15px !important;
        }

        &-separator {
            display: none !important;
        }
    }

    &__value-container {
        padding: 1rem 1.5rem !important;
    }

    &__option {
        display: flex !important;
        gap: 16px !important;
        cursor: pointer !important;
        background-color: #fff !important;
        border-bottom: 1px solid #f0f0f0 !important;
        width: 93% !important;
        margin-left: 0.5rem !important;
        padding: 1rem 1rem 0.5rem 0 !important;
        text-align: left !important;

        &:last-child {
            border-bottom: none !important;
        }

        &--is-selected {
            display: none !important;
        }
    }

    &__menu {
        border: none !important;
        margin-top: -5px !important;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08) !important;
        border-radius: 14px !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-top: 1px solid #DFDFDF !important;
        scrollbar-width: thin !important;
        animation: scaleIn .2s ease-in-out !important;
        width: 98% !important;

        &-list {
            display: flex !important;
            flex-direction: column !important;
            gap: 0.7rem !important;

            &::-webkit-scrollbar {
                width: 7px !important;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                margin-bottom: 10px;
                margin-top: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #DFDFDF;
                border-radius: 12px;
            }
        }
    }
}

.select-rotate {
    &__inner {
        border: 2px solid #0D0D0D;
    }

    &::before {
        transform: rotate(-45deg);
        top: 42%;
        right: 6%;
    }
}