@import "./defaultStyles.scss";

.app {
    color: black;
    margin: 1.3rem 10rem 3em 10rem;

}

.react-dadata__container {
    .react-dadata__input {
        position: relative;
        padding: 16px 24px;
        outline: none;
        border: 1px solid $gray;
        border-radius: 14px;
        transition: all.3s;

        &:focus {
            border: 2px solid $black;
        }

        &::placeholder {
            color: #9C9C9C;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            box-sizing: border-box;

        }
    }
}

.react-dadata__suggestions {
    border: 1px solid $gray;
    padding: 8px;
    border-radius: 12px;
    background-color: #fff;
    position: absolute;
    margin-top: 5px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    z-index: 5;

    &-li {
        text-align: left;
        font-size: 19px;
        cursor: pointer;
        width: 100%;
        border-bottom: 1px solid $gray;

        &:last-child {
            border-bottom: none;
        }
    }

    &-liHelp {
        color: $orange;
        background-color: white;
    }
}

@media (max-width:1600px) {
    * {
        font-size: 15px;
    }
}

@media (max-width:1280px) {
    .app {
        margin: 1.3rem 2rem 0px 2rem;
    }

    * {
        font-size: 13.5px;
    }
}

@media (max-width:1024px) {
    * {
        font-size: 13px;
    }
}

@media (max-width:768px) {
    .app {
        height: 100vh;
        padding: 1rem;
        margin: 0;
    }

    * {
        font-size: 12px;
    }
}

@media (max-width:480px) {
    * {
        font-size: 10px;
    }
}