@import url(./components/header.scss);
@import url(./components/foooter.scss);
@import url(./components/chapter.scss);
@import url(./components/item.scss);
@import url(./components/cart.scss);
@import url(./components/modalWindow.scss);
$green:#00953F;
$red:#ED1B23;
$orange:#FF6600;

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}



.active {
    svg {
        path {
            fill: #fff;
        }
    }

    background-color: $orange;
    color: #fff;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: 0;
}

svg {
    cursor: pointer;
}

.chapter-title-green {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    color: $green;
}

.chapter-title-red {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    color: $red;

}

.chapter-title-orange {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    color: $orange;

}

.chapter-title-default {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #000;
    display: flex;
    align-items: center;
    text-align: center;
}


.app {
    color: #000;
    padding: 20px 200px 0px 200px;
    gap: 25px;
}

.error {
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
    color: $red;
}

.select,
.select-rotate {
    position: relative;
    cursor: pointer;
    max-width: 360px;
    width: 100%;
    transition: all.3s;
    margin-bottom: 10px;
    &__inner {
        border: none;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08) ;
        color: #9C9C9C;
        font-weight: 400;
        appearance: none;
        outline: none;
        width: 100%;
        padding: 16px 24px;
        border-radius: 14px;

        option {
            color: #000;
        }
    }

    &::before {
        position: absolute;
        content: '';
        top: 40%;
        right: 6%;
        width: 7px;
        height: 7px;
        border-top: 2px solid #CFCFCF;
        border-right: 2px solid #CFCFCF;
        transform: rotate(135deg)
    }

}

.select-rotate {
    &__inner {
        border: 2px solid #0D0D0D;
    }

    &::before {
        transform: rotate(-45deg);
        top: 48%;
        right: 6%;
    }
}